@{
    ViewBag.Title = "About";
}
<section id="about" class="about">
    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <img src="~/assets/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>
                    Introduction:
                </h3>
                <p class="fst-italic">
                    Excell-on Consulting Services (ECS) helps organizations develop innovative business
                    and commerce strategies and solutions. These solutions allow their (organizations,
                    say clients of Excell-on Consulting Services) customers to capitalize on new
                    technologies to create innovative products and services for the economy. Their
                    consulting team stays focused on defining, optimizing, and aligning their client’s
                    business and IT strategies.
                </p>
                <h3>
                    Existing Scenario:
                </h3>
                <p class="fst-italic">
                    Excell-on has segregated themselves into various branches based on the various
                    services that they offer to their clients, so as to meet the requirements of
                    organizations i.e., of their clients. The various branches that the Excell-on had
                    segregated is as follows:
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i>In-bound Services</li>
                    <li><i class="bi bi-check-circle"></i>Out-bound Services</li>
                    <li><i class="bi bi-check-circle"></i>Tele Marketing Services</li>
                </ul>
                <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->
<!-- ======= Services Section ======= -->