@{
    ViewBag.Title = "Home Page";
}


<link href="~/assets/admin/css/style.css" rel="stylesheet">

<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background-image: url(/assets/img/slide/slide-1.jpg)">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Excel On Services</span></h2>
                            <p class="animate__animated animate__fadeInUp">
                                Excell-on Consulting Services (ECS) helps organizations develop innovative business
                                and commerce strategies and solutions. These solutions allow their (organizations,
                                say clients of Excell-on Consulting Services) customers to capitalize on new
                                technologies to create innovative products and services for the economy. Their
                                consulting team stays focused on defining, optimizing, and aligning their client’s
                                business and IT strategies.
                            </p>
                            <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item" style="background-image: url(/assets/img/slide/slide-2.jpg)">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated fanimate__adeInDown">Lorem <span>Ipsum Dolor</span></h2>
                            <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                            <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="carousel-item" style="background-image: url(/assets/img/slide/slide-3.jpg)">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown">Sequi ea <span>Dime Lara</span></h2>
                            <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                            <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </div>
</section><!-- End Hero -->
<main id="main">
    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
        <div class="container">

            <div class="row">
                <div class="col-lg-4">
                    <div class="icon-box">
                        <i class="bi bi-card-checklist"></i>
                        <h3><a href="">In-bound Services</a></h3>
                        <p>
                            The In-bound service is a service in which one can only
                            receive the calls from the customers. These call centers provide 24 hours
                            service to all customers. The primary goal of these call centers are to receive
                            product orders, help customers both technically and non-technically, to find
                            dealer location.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <i class="bi bi-bar-chart"></i>
                        <h3><a href="">Out-bound Services</a></h3>
                        <p>
                            The Out-bound service is a service in which the
                            employees of Excell-on call the customers for product promotions, for
                            checking with the customer satisfaction on the services they provide, and for
                            the telemarketing. Outbound Call Centers depends on the technological
                            solutions, extensive experience, quality assurance programs and commitment
                            to customer service excellence that further ensures maximum results from
                            the direct marketing efforts for its success.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <i class="bi bi-binoculars"></i>
                        <h3><a href="">Tele Marketing Services</a></h3>
                        <p>
                            The Tele Marketing service is a service which is
                            purely for the promotion of marketing or sales of the products and services.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Featured Section -->
</main>
