
@{
    ViewBag.Title = "Services";
}
<main id="main">
    <p style="padding:25px;"></p>
    <section id="featured" class="featured">
        <div class="container">

            <div class="row">
                <div class="col-lg-4">
                    <div class="icon-box">
                        <i class="bi bi-card-checklist"></i>
                        <h3><a href="">In-bound Services</a></h3>
                        <p>
                            The In-bound service is a service in which one can only
                            receive the calls from the customers. These call centers provide 24 hours
                            service to all customers. The primary goal of these call centers are to receive
                            product orders, help customers both technically and non-technically, to find
                            dealer location.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <i class="bi bi-bar-chart"></i>
                        <h3><a href="">Out-bound Services</a></h3>
                        <p>
                            The Out-bound service is a service in which the
                            employees of Excell-on call the customers for product promotions, for
                            checking with the customer satisfaction on the services they provide, and for
                            the telemarketing. Outbound Call Centers depends on the technological
                            solutions, extensive experience, quality assurance programs and commitment
                            to customer service excellence that further ensures maximum results from
                            the direct marketing efforts for its success.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <i class="bi bi-binoculars"></i>
                        <h3><a href="">Tele Marketing Services</a></h3>
                        <p>
                            The Tele Marketing service is a service which is
                            purely for the promotion of marketing or sales of the products and services.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Featured Section -->
</main>